img {
	width: 300px;
}
ol {
	 font-weight: bold;
}

p {
	font size: landscape;
}
ol li {
		color: black;

}
p {
	font-weight: 200;
}
div {
	font-size: large;
}
.ble {
	 font-weight: bold;
	color: black;
	border-width: thick;
	border-color: lightblue;
	border-image-slice: inherit;
}
.roz {
     border-width: thick;
	border-style: solid;
	border-color: lightblue;
	border-image-slice: inherit;
}
body {
	background: whitesmoke;
}
.card {
	margin-top: 50;
	margin-bottom: 50;
	border-color: light rosybrown;
	margin-left: -190;
	background-color: light rosybrown;
}