img {
	width: 300px;
}
ol {
	 font-weight: bold;
}

p {
	font size: landscape;
}
ol li {
		color: lightblue;

}
p {
	font-weight: 200;
}
div {
	font-size: large;
}
.ble {
	 font-weight: bold;
}
.ble {
	color: purple;
}
.roz {
	border-width: medium;
}